@model IEnumerable<E_commerce.webui.Identity.User>

<div class="row">
    <div class="col-md-12">
        <h1>Admin Kullanıcı Listesi</h1>
        <hr>
            <a class="btn btn-primary btn-sm" href="/admin/user/create">Kullanıcı Ekle</a>
        
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td>Ad</td>
                    <td>Soyad</td>
                    <td>Kullanıcı Adı</td>
                    <td>Email</td>             
                    <td style="width: 300px;"></td>             
                </tr>
            </thead>
            <tbody> 
                @if(Model.Count()>0)
                {
                       @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>                       
                                <td>@item.LastName</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>
                                    <a href="/admin/user/@item.Id" class="btn btn-primary btn-sm mr-2">Kullanıcı Güncelle</a>                                
                                   <form action="/admin/role/delete" method="POST" style="display: inline;">
                                     <input type="hidden" name="UserId" value="@item.Id">
                                     <button type="submit" class="btn btn-danger btn-sm">Kullanıcı Sil</button>                                
                                   </form>
                                </td>
                        </tr>
                        }
                }else{
                    <div class="alert alert-warning">
                        <h3>Kullanıcı Yok</h3>
                    </div>
                }       
            </tbody>
        </table>
    </div>
</div>