<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    @if(IsSectionDefined("MessageBox")){
    @RenderSection("MessageBox")
    }
    
    else{
    <div class="alert alert-success text-center m-0">
        Welcome
    </div>
    }
    @await Html.PartialAsync("_navbar")
    @await Html.PartialAsync("_header")
    <main class="mb-3">
        <div class="container">

            @if(IsSectionDefined("Categories")){
            <div class="row">
                <div class="col-md-3">
                    @RenderSection("Categories",false)
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>

            }
            else{
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            }

        </div>

    </main>

<footer class="py-5 bg-dark text-white text-center">
    Labella - 2021
</footer>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    @RenderSection("Scripts",false)

</body>

</html>