@model E_commerce.webui.Model.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="card mb-2" >
              <img class="card-img-top"
                   src="~/images/@Model.ImageUrl" alt="">
             <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
     <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">İncele</a>
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">Edit</a>
                          
                  <form method="POST" action="/product/Delete" style="display: inline;">
                       <input type="hidden" name="ProductId" value="@Model.ProductId">
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                  </div>
</div>
                    