@model E_commerce.webui.Model.ProductDetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

        <div class="row">
            <div class="col-md-3">
                <img src="~/images/@Model.Product.ImageUrl" class="img-fluid">
            </div>
            <div class="col-md-9">
                <h1 class="mb-3">@Model.Product.Name</h1> <hr>

                @foreach (var item in Model.Categories)
                {
                     <a asp-controller="Shop" asp-action="List" asp-route-category="@item.Url" class="btn btn-link p-0 mb-3">@item.Name</a>
                }

               
               
                    <div class="mb-3">
                        <h4 class="text-primary mb-3"><i class="fas fa-lira-sign"></i>@Model.Product.Price</h4>
                     
                    <button type="submit" class="btn btn-primary btn-lg">Sepete Ekle</button>           
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="p-3">@Model.Product.Description</p>
            </div>
        </div>
   