@model E_commerce.webui.Model.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" value="@Model.Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger">Ad alanı zorunludur.</span>
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input asp-for="Price" value="@Model.Price" class="form-control">
        <span asp-validation-for="Price" class="text-danger">Fiyat alanı zorunludur.</span>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea asp-for="Description" value="@Model.Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ImageUrl">ImageUrl</label>
        <input asp-for="ImageUrl"  value="@Model.ImageUrl" class="form-control">
     <span asp-validation-for="ImageUrl" class="text-danger">Resim alanı zorunludur.</span>
    </div>
    <div class="form-group">
        <label for="CategoryId">CategoryId</label>
        
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
              <option selected disabled>Seçiniz</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger">Kategori ID alanı zorunludur.</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>